<!-- esta linea hace la herencia entre plantillas para no repetir codigo -->
{% extends "AppCRM/index.html" %}  



<!-- esta hereda la clase header y todo lo que se repite en el index base -->
{% block titulo %}

  Inicio - Sistema de Gestión Académica

{% endblock %}
<!--  hasta aquí -->





<!-- en este bloque se modifica lo nuevo de esta sección -->
{% block contenido %}

  <h1>Seccion de maestros </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam facilis, quas atque nobis beatae eum repellat error soluta totam. Perferendis laboriosam magnam debitis. Quia impedit et, dolore debitis asperiores corporis voluptatum aut officiis adipisci nulla mollitia ea autem est commodi voluptas ut, perspiciatis eos deserunt quaerat ad provident quis.</p>


<!-- contendido de este pagina  -->
{% endblock %}
