{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Style_index.css' %}"> <!-- Asegúrate de que la ruta sea correcta -->

</head>
<body>
     <header>
        <h1>Sistema de Gestión Académica</h1>
      <nav>
        <ul>
          <li><a href="{% url 'pg_inicio' %}">Inicio</a></li>
          <li><a href="{% url 'pg_Estudiantes' %}">Estudiantes</a></li>
          <li><a href="{% url 'pg_Docentes' %}">Docentes</a></li>
          <li><a href="{% url 'pg_Pagos' %}">Pagos</a></li>
          <li><a href="{% url 'pg_Clases' %}">Clases</a></li>
          <li><a href="{% url 'Inscripciones' %}">Inscripciones</a></li>
    
          

      </ul>
    </nav>
  </header>


    <section>
      <div>
        <h2>bienvendio</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
             <label>Usuario</label>
             <input type="text" name="email" placeholder="ingresa su usuario" required>
          </div>
          <div class="form-group">
            <label>contraseña</label>
            <input type="password" name="password" placeholder="ingresa contraseña" required>
          </div>
          <button type="submit" href="{% url 'perfilEstudiante' %}"> ingresar</button>
          
        </form>

        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{message}}</li>
              {% endfor %}
          </ul>
      {% endif %}
      </div>



    </section>






  <!-- <section class="seccion__formulario">
        <img src="{% static './img/habitos-de-estudio-universitario.webp'%}" alt="">

        hacer un formularo del index
        <div class="contenedor__delContenedor">

            <h2>Bienvenido</h2>
            <div class="contenedor">
                <label  class="texto_formulario">Usuario</label>
                <input type="text" id="usuario" placeholder="Ingrese su usuario" title="Usuario">
                <label  class="texto_formulario" for="">Contaseña</label>
                <input type="text" id="contraseña" placeholder="Ingrese su contraseña" title="Contraseña">
                
                <div class="contenedor_botones">
                    <button class="botonLogin">Ingresar</button>
                    <a class="enlace"  href="#">Olvide mi Contrasña</a>
                </div>

            </div>
        </div>
    </section> -->


     <footer>
    <p>© 2025 Sistema Académico</p>
  </footer>

</body>
</html>