body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
  padding: 20px;
  
}

header {
  background: #005baa;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  background: #003d66;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 0;
}

nav a {
  display: block;
  padding: 0.8rem 1.2rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background: #002944;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background: #005baa;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


/* contenedor formulario   */

.seccion__formulario{
  display: flex;
  justify-content: space-between;
  flex-direction:row(2fr);
  align-items: center;
  margin: 0px  2px;


}

.seccion__formulario img {
  max-width: 50%;
  max-height: auto ;
  text-align: center;
  margin: 2rem  ;
  border-radius: 3rem;
}


.texto_formulario{
  text-align: center;
  font-size: 25px;
  margin: 0.3rem 0rem;
}




.contenedor__delContenedor{
  display: flex;
  width: 35rem;
  height: 15rem;
  flex-direction: column;
  background-color: #005baa;
  margin: 2rem 1rem;
  text-align: center;
  color:white;
  border: #002944 solid 2px;


}






.contenedor{
  display: flex;
  flex-direction: column;
}


/* botones  */



.contenedor_botones{
  display:  flex;
  flex-direction: row;
  width: 2rem;
  height: 2rem;
  background-color: #002944;
  margin: 10px  8rem ;
  justify-items: center;

}

.enlace{
  color: white;
  margin: 0 4rem ;
}

#contraseña #usuario{
  align-items: center;
  text-align: center;
}


/* 


h2 {
    text-align: center;
      color: #333;
      margin-bottom: 30px;
    }

    .financiera {
      background-color: #fff;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .nombre {
      font-weight: bold;
      font-size: 20px;
      color: #222;
    }

    .conoce {
      color: #b48c00;
      font-weight: bold;
      font-size: 16px;
      margin: 8px 0;
    }

    .conoce.blue {
      color: #0051ff;
    }

    .gestor {
      font-size: 16px;
      color: #333;
    }

    .correo {
      color: #003366;
      font-weight: bold;
    }

    .arrow {
      font-size: 18px;
      margin-left: 5px;
    } */
